<div class="container">
    <div class="container">
        <h1>User Profile</h1>
        <hr/>
        <h2>나의 주문내역</h2>
        <br/>
        {{# each orders }}
        <div class="jumbotron bg-light text-dark">
            <ul class="list-group list-group-flush">
                {{# each this.items }}
                    <li class="list-group-item">{{ this.item.title }} x {{ this.qty }} ea
                        <span class="badge badge-pill badge-light pull-right">{{this.price}}</span>
                    </li>
                {{/each}}
            </ul>
            <div class="card-body text-right">
                <strong> &#65510;{{ this.cart.totalPrice }}</strong>
            </div>
        </div>
        <br/>
        {{/each}}
    </div>
</div>